streamlit
numpy
pandas
torch --index-url https://download.pytorch.org/whl/cpu
librosa
soundfile
noisereduce
matplotlib
seaborn
scipy
scikit-learn
imbalanced-learn
xgboost
lightgbm
plotly
transformers
tensorflow
joblib
shap